{% extends "guest/base.html.twig"%}

{% block title %}Résultat de recherche "{{search}}"
{% endblock %}

{% block main %}

	{% for productsfound in productsfound %}
		<li>
			<a href="{{path('detail-product', {'id' : productsfound.id })}}">{{productsfound.title}}</a>
		</li>

	{% endfor %}
{% endblock main %}
