<footer>
	<div>
		<div>
			<h3>À propos de nous</h3>
			<p class="Propos">Bienvenue sur Saveurs Collectives! Nous proposons une sélection unique de marchandises, 
				allant des vêtements aux accessoires, gadgets et bien plus encore. 
				Notre objectif est de vous offrir des produits de qualité, à des prix compétitifs, 
				avec un service client réactif et une livraison rapide.
			</p>
		</div>
		<div>
			<ul class="liensUtiles">
				<li><a href="{{ path ('home') }}">Mentions légales</a></li>
				<li><a href="{{ path ('home') }}">Politique de confidentialité</a></li>
				<li><a href="{{ path ('home') }}">Conditions générales d'utilisation</a></li>
			</ul>
		</div>
		<div>
			<h3>Contact</h3>
			<p>Email :
				<a href="mailto:contact@monsite.com">contact@monsite.com</a>
			</p>
			<p>Téléphone : +33 1 23 45 67 89</p>
		</div>

	</div>
	<div>
		<p>&copy;
			{{ "now"|date("Y") }}
			Tous droits réservés.</p>
	</div>
</footer>
